VITE_SUPABASE_URL=https://lpycoycpkcqsvdfatyjx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxweWNveWNwa2Nxc3ZkZmF0eWp4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkzNDAzMzEsImV4cCI6MjA5NDkxNjMzMX0.rdBPAj2L-hjQG1Prks9yPVXliL2JwydPO1J_1w6ekpg
